# Exclude Git files
.git
.github
.gitignore

# Development and temporary files
.DS_Store
.next
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo
.eslintcache
.vscode
.idea
*.log

# Build output
out
dist
.coverage
.nyc_output
coverage
test-results

# Documentation and development files
README.md
LICENSE
*.md
docs
tests
cypress
jest.config.js
.env.example
.env.local
.env.development
.env.test
next-env.d.ts

# Don't exclude these files
!.env.production
!public
!app
!components
!lib
!middleware.ts
!types
!next.config.mjs

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local

# Coolify-specific files
coolify.json

# OS specific
Thumbs.db

# Editor directories and files
*.swp
*.swo

# Testing
.nyc_output

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
.bower-cache
.bower-registry
.bower-tmp
.pnp
.pnp.js

# Misc
.node_repl_history
.yarn-integrity 